*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: .05em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1, p {
  margin: 0;
}
.header {
  background-color: #ffffff;
  height: 130px;
  letter-spacing: .043em;
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
#header {
  font-weight: 700;
  font-size: 60px;
}
#time {
  font-weight: 700;
  font-size: 50px;
}
.content {
  height: calc(100vh - 130px);
}

.weather-container {
  height: 760px;
  background-color: #C1F4F0;
  background: linear-gradient(180deg, #C1F4F0, #C9FFDB);
  position: relative;
}
#today-weather-icon {
  display: block;
  width: 570px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#temperature {
  font-size: 234px;
  margin: 0;
  /* font-weight: 500; */
  /* letter-spacing: 0; */
}

#forecast-container {
  height: 1030px;
  background-color: #ffffff;
  padding: 100px 80px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailed-info {
  width: 450px;
}
#location {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul#high-low-forecast li {
  font-size: 65px;
}
ul#high-low-forecast img {
  height: 20px;
  margin-right: 15px;
}
#three-day-forecast-container li {
  text-align: center;
  width: 215px;
  height: 368px;
}
.day {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 45px;
}

@media only screen and (min-width: 1280px) {
  #today-weather-icon {
    width: 328px;
  }
  .content {
    background-color: #C1F4F0;
    background: linear-gradient(180deg, #C1F4F0, #C9FFDB);
    display: flex;
    justify-content: space-around;
  }
  .weather-container {
    height: inherit;
    width: 450px;
    background: transparent;
    background-color: transparent;
  }
  #forecast-container {
    width: 830px;
    height: inherit;
    background-color: transparent;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-right: 61px;
  }
  .day {
    font-size: 38px;
  }
  .detailed-info {
    width: 360px;
  }
  #temperature {
    font-size: 168px;
  }
  #location {
    font-size: 45px;
  }
  #three-day-forecast-container li {
    width: 180px;
    height: 310px;
  }
  ul#high-low-forecast li {
    font-size: 55px;
  }
  ul#high-low-forecast img {
    height: 20px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1920px) {
  #temperature {
    font-size: 216px;
  }
  #forecast-container {
    width: 900px;
  }
  #today-weather-icon {
    width: 430px;
  }
  ul#high-low-forecast img {
    margin-right: 20px;
  }

}
/*
gradient for rainy/stormy day
background: linear-gradient(0deg, #bfcfda, #3b4d5f); */

/* gradient for snowy day
linear-gradient(180deg, #d3cce3, #ffffff); */
